h2, h3 {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
}
label {
  margin-bottom: 0;
}
li {
  list-style-type: none;
}
input[type=text] {
  border: 0;
  height: 3em;
  outline: none;
  padding-left: 1em;
  padding-right: 1em;
}

input[type=checkbox] {
  margin-right: 0.5em;
}
